:root{
    --text-color: white;
    --interest-padding: 50px
}
section{
    color: var(--text-color);
    height: 100%;
}
.header-title{
    font-size: 3em;
    text-align: center;
    padding-bottom: 10px;
}
.header1, .header2{
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}
.column{
    float: left;
    width: 50%;
    height: 100px;
    padding: 0 25%;
}
.sub-column{
    float: left;
    width: 50%;
    height: 100px;
    padding: 0 0;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.activity-name{

}
.interest-name{

}