:root{
    --text-color-index: white;
    --interest-padding: 50px
}
section{
    color: var(--text-color-index);
    height: 100%;
}
.header-title{
    font-size: 3em;
    text-align: center;
    padding-bottom: 10px;
}
.header1, .header2{
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}

.activity-name{

}
.interest-name{

}